<div class="student-opportunites-search-page-container">
  <div class="header" style="padding: 0.5em 0.5em;">
    <h1 class="title">Opportunites Search</h1>
    <!-- Search input for opportunities -->
    <div class="searchForm">
      <form [formGroup]="searchForm" (ngSubmit)="onSearchButtonClick()">
        <mat-form-field>
          <input matInput type="text" placeholder="Search..." formControlName="projectName">
        </mat-form-field>
        <!-- <button mat-raised-button (click)="onSearchButtonClick()" id="searchButton">Search</button> -->
      </form>
    </div>
  </div>

  <!-- <div class="example-accordion-item-header" (click)="questionAccordionItem.toggle()">
  Show Filters for Majors
  <span class="example-accordion-item-description">
    Click to {{ questionAccordionItem.expanded ? 'close' : 'open' }}
  </span>
</div>

checkboxes for majors
<div class="example-accordion-item-body" role="region"
  [style.display]="questionAccordionItem.expanded ? '' : 'none'" [attr.id]="'question-accordion-body'"
  [attr.aria-labelledby]="'question-accordion-header'">
  <div class="majors-list">
    <cdk-accordion class="example-accordion">
      <cdk-accordion-item #questionAccordionItem="cdkAccordionItem" class="example-accordion-item" role="button"
        tabindex="0" [attr.id]="'question-accordion-header'" [attr.aria-expanded]="questionAccordionItem.expanded"
        [expanded]="true" [attr.aria-controls]="'question-accordion-body'">
        <mat-checkbox *ngFor="let major of availableMajors" (change)="onCheckboxChange(major, $event.checked)">
          {{ major }}
        </mat-checkbox>
      </cdk-accordion-item>
    </cdk-accordion>
  </div>
</div> -->

  <mat-accordion class="oppExpansion">
    <mat-expansion-panel (opened)="searchfilters = true" (closed)="searchfilters = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Search Filters
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="filterMainDiv">
        <div class="searchFilterDiv">
          <mat-form-field type="majors" class="example-chip-list" required>
            <mat-label>Majors</mat-label>
            <mat-chip-grid #chipGrid aria-label="Enter majors">
              @for (major of majors; track major; let i = $index) {
              <mat-chip-row [ngStyle]="{'background-color': isEven(i) ? '#CFB991' : '#999' }" (removed)="remove(major)"
                [editable]="true" (edited)="edit(major, $event)">
                {{ major }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
              }
              <input placeholder="Add major or leave blank for all" [matChipInputFor]="chipGrid"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)" />
            </mat-chip-grid>
          </mat-form-field>
        </div>

        <div class="searchFilterDiv">
          <mat-form-field>
            <mat-label>Posted on or after</mat-label>
            <input matInput [matDatepicker]="picker1" placeholder="Choose a date" name="posted" [(ngModel)]="posted">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="searchFilterDiv">
          <mat-form-field>
            <mat-label>Deadline on or after</mat-label>
            <input matInput [matDatepicker]="picker2" placeholder="Choose a date" name="deadline"
              [(ngModel)]="deadline">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>


        <div class="searchFilterDiv">
          <mat-form-field>
            <input matInput type="number" placeholder="GPA" name="GPA" [(ngModel)]="GPA" min="0"
              max="4">
          </mat-form-field>
        </div>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="oppExpansion">
    <mat-expansion-panel (opened)="resultFilters = true" (closed)="resultFilters = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Result Filters
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="filterMainDiv">
        <div class="resultFilterDiv">
          <mat-form-field>
            <mat-label>Select Major</mat-label>
            <mat-select multiple [(ngModel)]="selectedMajors" (selectionChange)="onCheckboxChange($event)">
              @for (major of availableMajors; track major) {
              <mat-option [value]="major">
                {{ major }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div class="resultFilterDiv">
          <mat-form-field>
            <mat-label>GPA</mat-label>
            <input matInput type="number" [(ngModel)]="filterGPA" (ngModelChange)="onSliderChange()" min="0" max="4">
          </mat-form-field>
        </div>

        <div class="resultFilterDiv">
          <mat-form-field>
            <mat-label>Filter Results</mat-label>
            <input matInput [(ngModel)]="resultFilterString" (ngModelChange)="onTextInputChange()">
          </mat-form-field>
        </div>
      </div>
      <div id="resetButton">
        <button mat-raised-button color="primary" (click)="resetFilters()">Reset Filters</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- filtered opportunities -->
  <div class="opportunities-list">
    @for (opportunity of opportunities; track opportunity) {
    <div class="opportunities-container">
      <mat-card class="oppCard">
        <mat-card-title class="opportunity-card-title">
          {{ opportunity.projectName }}
        </mat-card-title>
        <mat-card-subtitle>{{ opportunity.description }}</mat-card-subtitle>
        <mat-card-content>
          <table class="projectDetails">
            <tr>
              <td>Professor name: {{ opportunity.professorName }}</td>
              <td>Application email: {{ opportunity.professorEmail }}</td>
            </tr>
            <tr colspan="2">
              <td>Applicable Majors: {{ opportunity.majors.join(', ')}}</td>
              <td>GPA Requirement: {{ opportunity.GPA ? opportunity.GPA : "No Minimum GPA Requirement" }}</td>
            </tr>
          </table>
        </mat-card-content>
        <mat-divider></mat-divider>
        <button mat-raised-button color="primary" (click)="applyToOpportunity(opportunity)"
          [disabled]="!meetRequirements(opportunity) || opportunity.applied">{{ meetRequirements(opportunity) &&
          !opportunity.applied ? 'Apply' : 'Cannot Apply'}}
          {{opportunity.applied ? 'Already Applied' : ''}}</button>
      </mat-card>
    </div>
    }
    <br>
    @if (allOpportunities) {
    <div id="page-selector">
      <button mat-raised-button color="primary" [disabled]="!hasPrevPage()" class="activeButton"
        (click)="prevPage()">Previous Page</button>
      @if (pageNum != 0) {
      <p id="pageNum">Page: {{pageNum}}</p>
      }
      <button mat-raised-button color="primary" [disabled]="!hasNextPage()" class="activeButton"
        (click)="nextPage()">Next Page</button>
    </div>
    }
  </div>
</div>
<app-spinner></app-spinner>
