.header {
    background-color: #CFB991;
}

table.projectDetails {
    text-align: center;
    width: 100%;
}

.projectDetails tr td {
    padding: 0.5em;
}

.opportunities-list {
    float: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.opportunities-container {
    width: 80%;
    padding: 0.5em;
    margin: 0 auto;
}

.oppExpansion {
    max-width: 80%;
    margin: 0.5em auto;
}

.oppCard {
    padding: 0.5em 0.5em;
    width: 100%;
    height: 100%;
}