<div class="student-opportunites-search-page-container">
    <div class="header" style="padding: 0.5em 0.5em;">
        <h1>Opportunites Search</h1>
        <!-- Search input for opportunities -->
        <mat-form-field>
            <input matInput type="text" placeholder="Search..." [(ngModel)]="searchQuery" (keypress)="onSearchKeyPress($event)">
        </mat-form-field>
        <button mat-raised-button (click)="onSearchButtonClick()" style="margin-left: 0.5em">Search</button>
    </div>

    <!-- <div class="example-accordion-item-header" (click)="questionAccordionItem.toggle()">
        Show Filters for Majors
        <span class="example-accordion-item-description">
          Click to {{ questionAccordionItem.expanded ? 'close' : 'open' }}
        </span>
      </div>

     checkboxes for majors
    <div class="example-accordion-item-body" role="region"
      [style.display]="questionAccordionItem.expanded ? '' : 'none'" [attr.id]="'question-accordion-body'"
      [attr.aria-labelledby]="'question-accordion-header'">
      <div class="majors-list">
          <cdk-accordion class="example-accordion">
              <cdk-accordion-item #questionAccordionItem="cdkAccordionItem" class="example-accordion-item" role="button"
                tabindex="0" [attr.id]="'question-accordion-header'" [attr.aria-expanded]="questionAccordionItem.expanded"
                [expanded]="true" [attr.aria-controls]="'question-accordion-body'">
              <mat-checkbox *ngFor="let major of availableMajors" (change)="onCheckboxChange(major, $event.checked)">
                  {{ major }}
              </mat-checkbox>
              </cdk-accordion-item>
          </cdk-accordion>
      </div>
    </div> -->
    
    <mat-accordion class="oppExpansion">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Show Filters for Majors
          </mat-panel-title>
        </mat-expansion-panel-header> 
        <div>
          <mat-checkbox *ngFor="let major of availableMajors" (change)="onCheckboxChange(major, $event.checked)">
            {{ major }}
          </mat-checkbox>
        </div>
        
      </mat-expansion-panel>
    </mat-accordion>

    <!-- filtered opportunities -->
    <div class="opportunities-list">
        <div *ngFor="let opportunity of filteredOpportunities" class="opportunities-container">
            <mat-card class="oppCard">
                <mat-card-title class="opportunity-card-title">
                    {{ opportunity.title }}
                  </mat-card-title>
                  <mat-card-subtitle>{{ opportunity.description }}</mat-card-subtitle>
                  <mat-card-content>
                    <table class="projectDetails">
                      <tr>
                        <td>Professor name: {{ opportunity.professorName }}</td>
                        <td>Application email: {{ opportunity.professorEmail }}</td>
                      </tr>
                      <tr colspan="2">
                        <td>Number of Applicants: {{ opportunity.applications?.length ?? 0 }}</td>
                        <td>GPA Requirement: {{ opportunity.GPA ? opportunity.GPA : "No Minimum GPA Requirement" }}</td>
                      </tr>
                    </table>
                  </mat-card-content>
                  <mat-divider></mat-divider>
                  <button mat-raised-button color="primary" (click)="applyToOpportunity(opportunity)"
                    [disabled]="!meetRequirements(opportunity)">{{ meetRequirements(opportunity) ? 'Apply' : 'Cannot Apply'
                    }}</button>
            </mat-card>
            
        </div>
    </div>
</div>