<div class="page-container" *ngIf="projectData !== -1" id="applicantData">
  <mat-accordion class="align-headers" multi>
    <mat-expansion-panel #projectExpPanel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>Project Information</mat-panel-title>
        <mat-panel-description>
          Click to {{ projectExpPanel.expanded ? 'close' : 'open' }}
          <mat-icon>description</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="project-information-container">
        <mat-card class="content-card">
          <mat-card-header>
            <mat-card-title>
              <h1>{{ projectData.projectName }}</h1>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="information">
            <h2>Description:</h2>
            <p>{{ projectData.description }}</p>
            <div *ngIf="projectData.responsibilities">
              <h2>Responsibilities:</h2>
              <p>{{ projectData.responsibilities }}</p>
            </div>
            <h2>Posted:</h2>
            <p>{{ posted }}</p>
            <h2>Deadline:</h2>
            <p>{{ deadline }}</p>
            <h2>Minimum Required GPA:</h2>
            <p>{{ formatGPA() }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel #questionsExpPanel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>Project Questions</mat-panel-title>
        <mat-panel-description>
          Click to {{ questionsExpPanel.expanded ? 'close' : 'open' }}
          <mat-icon>quiz</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let question of projectData.questions; index as i" class="questions-container">
        <mat-card class="content-card">
          <mat-card-header>
            <mat-card-title>
              <h2>Question {{ i + 1}}:</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <div class="single-question-container">
              <p>{{ question.question }}</p>
              <h3>Required Question?</h3>
              <p>{{ question.required ? 'Yes' : 'No' }}</p>
              <h3>Question Type:</h3>
              <p>{{ displayRequirementType(question.requirementType) }}</p>
              <div *ngIf="question.requirementType === 'radio button' || question.requirementType === 'check box'"
                class="choices-container">
                <h3>Choices:</h3>
                <div *ngFor="let choice of question.choices" colspan="1" rowspan="1" class="choice-value">
                  <mat-radio-button *ngIf="question.requirementType === 'radio button'" disabled>{{ choice
                    }}</mat-radio-button>
                  <mat-checkbox *ngIf="question.requirementType === 'check box'" disabled>{{ choice }}</mat-checkbox>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-expansion-panel>

    <div *ngIf="!isStudent">
      <mat-expansion-panel #filterQuestionsPanel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>Filter Applicants By Questions</mat-panel-title>
          <mat-panel-description>
            Click to {{ applicantExpPanel.expanded ? 'close' : 'open' }}
            <mat-icon>filter_list</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="carousel-container">
          <mat-card class="content-card">
            <mat-card-header>
              <mat-card-title>
                <h2>{{projectData.questions[currentQuestionIndex].question}} :</h2>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div *ngIf="currentQuestionType === 'radio button' || currentQuestionType === 'check box'"
                class="choices-container">
                <h3>Choices:</h3>
                <div *ngFor="let choice of projectData.questions[currentQuestionIndex].choices" colspan="1" rowspan="1"
                  class="choice-value">
                  <mat-radio-button *ngIf="currentQuestionType === 'radio button'"
                    [checked]="facultyAnswers[currentQuestionIndex] === choice" [value]="choice"
                    (change)="updateChoiceAnswer($event)">
                    {{ choice }}</mat-radio-button>
                  <mat-checkbox *ngIf="currentQuestionType === 'check box'"
                    [checked]="facultyAnswers[currentQuestionIndex].includes(choice)"
                    (change)="updateChoiceAnswer($event)" [value]="choice">{{ choice }}</mat-checkbox>
                </div>
              </div>
              <div *ngIf="currentQuestionType === 'text'">
                <mat-form-field appearance="outline" class="filter-field">
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="updateTextAnswer($event)"
                    placeholder="Filter by question answer">
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="centerButtons">
          <button mat-icon-button (click)="previousQuestion()" [disabled]="currentQuestionIndex === 0">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button mat-raised-button color="primary" (click)="resetAnswers()">
            Reset Answers
          </button>
          <button mat-icon-button (click)="nextQuestion()" [disabled]="currentQuestionIndex === questions.length - 1">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel #applicantExpPanel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>Applicant Data</mat-panel-title>
          <mat-panel-description>
            Click to {{ applicantExpPanel.expanded ? 'close' : 'open' }}
            <mat-icon>groups</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Applications for project: {{ projectName }}</p>

        <div class="filter-controls-container">
          <div class="filter-control">
            <mat-form-field appearance="outline" class="filter-field">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="updateTable()" [(ngModel)]="tableFilter" placeholder="e.g., name, email, majors">
            </mat-form-field>
          </div>
          <div class="filter-control gpa-filter-container">
            <div class="gpa-label-container">
              <label>GPA Range:</label>
              <label>{{ minGPA }} - {{ maxGPA }}</label>
            </div>
            <mat-slider min="0" max="4" step="0.1" on>
              <input value="0" matSliderStartThumb [(ngModel)]="minGPA" (dragEnd)="updateTable()">
              <input value="4" matSliderEndThumb [(ngModel)]="maxGPA" (dragEnd)="updateTable()">
            </mat-slider>
          </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
          class="mat-elevation-z3">

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
              Name
            </th>
            <td mat-cell *matCellDef="let student">
              <a href="/faculty/application/{{student.project}}/{{student.application}}">{{ student.name }} </a>
            </td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
              Email
            </th>
            <td mat-cell *matCellDef="let student">{{ student.email }}</td>
          </ng-container>

          <!-- GPA Column -->
          <ng-container matColumnDef="GPA">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by GPA">
              GPA
            </th>
            <td mat-cell *matCellDef="let student">{{ student.GPA }}</td>
          </ng-container>

          <!-- Majors Column -->
          <ng-container matColumnDef="majors">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by major">
              Majors
            </th>
            <td mat-cell *matCellDef="let student">{{ student.majors }}</td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
              Status
            </th>
            <td mat-cell *matCellDef="let student">
              <p *ngIf="student.status === 'Accept' || student.status === 'Reject'"
                [class.accept-status-text]="student.status === 'Accept'"
                [class.reject-status-text]="student.status === 'Reject'" class="status-text">
                {{student.status}}ed
              </p>
              <button *ngIf="student.status === 'Pending'" mat-raised-button color="primary"
                (click)="applicationDecision(student.application, 'Accept')" class="accept-button">Accept</button>
              <button *ngIf="student.status === 'Pending'" mat-raised-button color="warn"
                (click)="applicationDecision(student.application, 'Reject')">Reject</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-expansion-panel>

    </div>
    <div *ngIf="isStudent">
      <button mat-raised-button color="primary" (click)="apply()">{{ 'APPLY' }}</button>
      <button mat-stroked-button class="align-end" (click)="back()">{{ 'CANCEL' }}</button>
    </div>
  </mat-accordion>
</div>

<app-spinner></app-spinner>