.root-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.root-container div {
    margin: 30px;
    text-align: center;
}

h1 {
    font-weight: 500;
}

.info-card {
    margin-top: 15vh;
    height: fit-content;
}
