<h1 mat-dialog-title>Choose an Assessment</h1>
<div mat-dialog-content>
  @if (!assessments) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  } @else {
    <mat-form-field>
      <mat-label>Assessment</mat-label>
      <mat-select [formControl]="assessmentControl">
        @for (assessment of assessments; track assessment) {
          <mat-option [value]="assessment.questions">{{
            assessment.name
          }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
</div>
<div mat-dialog-actions class="buttons-container">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [mat-dialog-close]="assessmentControl.value"
  >
    Submit
  </button>
</div>
