<div class="root-container">
  <div class="student-ongoing-applications">
    <h1>Ongoing applications</h1>
    <button mat-raised-button (click)="getStudentApplications()">See all applications</button>
    <button mat-raised-button color="primary" (click)="searchOpportunities()">Search opportunities</button>
  </div>

  <div>
    <div class="student-dashboard-page-container">
      <!-- Display opportunities grouped by major -->
      <div *ngFor="let major of majors">
        <h2 class="oppCard">{{ major }} Opportunities</h2>

        <div class="opps-container">
          <div *ngFor="let opportunity of majorOpportunities[major]">
            <mat-card class="opp-card">
              <mat-card-header>
                <mat-card-title class="opp-title">
                  <div [matTooltip]="opportunity.title" class="max-two-lines">{{ opportunity.title }}</div>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="content-container">
                  <div class="field-title">Professor: </div>
                  <div [matTooltip]="opportunity.professorEmail">{{ opportunity.professorName }}</div>
                  <div class="field-title">Posted: </div>
                  <div>{{ dateToString(opportunity.posted) }}</div>
                  <div class="field-title">GPA Requirement: </div>
                  <div>{{ opportunity.GPA ? opportunity.GPA : "N/A" }}</div>
                  <div class="field-title">Description: </div>
                  <div class="field-content">
                    <div [matTooltip]="opportunity.description" class="max-two-lines">{{ opportunity.description }}
                    </div>
                  </div>
                  <mat-divider class="divider"></mat-divider>
                </mat-card-content>
                <mat-card-actions class="actions-container">
                  <button mat-button color="primary" (click)="applyToOpportunity(opportunity)"
                      [disabled]="!meetRequirements(opportunity)">{{ 'APPLY' }}</button>
                  <button mat-button color="secondary" (click)="viewProject(opportunity)">VIEW</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<app-spinner></app-spinner>