.student-ongoing-applications {
    background-color: #CFB991;
}

table.projectDetails {
    text-align: center;
    width: 100%;
}

.projectDetails tr td {
    padding: 0.5em;
}

.opportunities-list {
    align-items: center;
    margin: 0.5em;
}

.opportunities-container {
    width: 80%;
    margin: 0.5em auto;
}

.oppCard {
    padding: 0.5em 0.5em;

}