.status-text {
    padding: 0.1em 0.4em;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 0.08em;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 5px;
    margin-bottom: 5px;
}

h1 {
    font-weight: 500;
}

.accept-status-text {
    color: green;
    border: 1px solid green;
    margin-left: 5px;
}

.pending-status-text {
    color: goldenrod;
    border: 1px solid goldenrod;
    margin-left: 5px;
}

.reject-status-text {
    color: red;
    border: 1px solid red;
    margin-left: 5px;
}

.student-ongoing-applications {
    background-color: #CFB991;
}

.example-accordion {
    display: block;
}

.example-accordion-item {
    display: block;
    border: solid 1px #ccc;
}

.example-accordion-item+.example-accordion-item {
    border-top: none;
}

.example-accordion-item-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.example-accordion-item-description {
    font-size: 0.85em;
    color: #999;
}

.example-accordion-item-header,
.example-accordion-item-body {
    padding: 16px;
}

.example-accordion-item-header:hover {
    cursor: pointer;
    background-color: #eee;
}

.example-accordion-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.button-container {
    font-size: 14px;
    max-width: 10%;
    height: 4%;
    padding-left: 1%;
}

.action-button {
    margin-left: 5px;
    /* Add some spacing between the text and the button */
}

.mat-column-status {
    width: 6%;
}

/* .mat-column-actions {
    width: 30%;
} */

.buttons > * {
    margin-top: 3px;
    margin-bottom: 3px;
}

.filter {
    padding-top: 2%;
    width: 25% !important;
}

.centeringDiv {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
}

#table-container {
    overflow-y: auto;
    max-height: 33vw;
    /* Adjust the max-height as needed */
}

.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}

/* Scrollbar Track */
::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bda274;
    /* Color when hovered */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c3aa7e;
    /* Color of the scrollbar handle */
    border-radius: 4px;
    /* Rounded corners */
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    /* Color of the scrollbar track */
}

/* Handle on active state */
::-webkit-scrollbar-thumb:active {
    background: #b29362
        /* Color when active/pressed */
}

/* Corner */
::-webkit-scrollbar-corner {
    background: transparent;
    /* Background color of the scrollbar corner */
}