.page-container {
    margin: 20px 5%;
}

h1 {
    font-weight: 500;
}

.table-filters-container {
    margin-top: 24px;
}

.filter {
    width: 50%;
}

.table-container {
    max-width: 100%;
    overflow: auto;
}

.mat-mdc-table-sticky-border-elem-right {
    border-left: 1px solid var(--mat-table-row-item-outline-color);
}

.column-sticky {
    display: flex;
    flex-wrap: nowrap;
}

.paginator-sticky {
    left: 0;
    position: sticky;
}
