.page-container {
    margin: 0px 18%;
    padding: 20px;
    height: max-content;
    background-color: white;
}

.block {
    display: block;
    margin-bottom: 10px;
}

.heading {
    margin-bottom: 10px;
}

h1 {
    font-weight: 500;
}

.reset-password-button {
    margin: 0 0 0 auto;
    display: block;
}