<div class="page-container">
  <h1 class="item-to-center">Create New Job</h1>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="item-to-center">
      <mat-label>Employer</mat-label>
      <input matInput type="text" formControlName="employer">
    </mat-form-field>
    <mat-form-field class="item-to-center">
      <mat-label>Job Title</mat-label>
      <input matInput type="text" formControlName="title">
    </mat-form-field>
    <mat-radio-group aria-label="Select a job type" formControlName="isInternship" class="item-to-center">
      <span>Job Type*:</span>
      <mat-radio-button [value]="true">Internship</mat-radio-button>
      <mat-radio-button [value]="false">Job</mat-radio-button>
    </mat-radio-group>
    <mat-radio-group aria-label="Select a position type" formControlName="isFullTime" class="item-to-center">
      <span>Position Type*:</span>
      <mat-radio-button [value]="true">Full-Time</mat-radio-button>
      <mat-radio-button [value]="false">Part-Time</mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="item-to-center">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field class="item-to-center">
      <mat-label>Location</mat-label>
      <input matInput type="text" formControlName="location">
    </mat-form-field>
    <mat-form-field class="item-to-center">
      <mat-label>Required Years of Experience</mat-label>
      <input matInput type="text" formControlName="reqYearsExp">
    </mat-form-field>
    <mat-form-field class="example-chip-list" class="item-to-center">
      <mat-label>Tags</mat-label>
      <mat-chip-grid #chipGrid aria-label="Enter tags">
        <mat-chip-row *ngFor="let tag of tags.controls; let i=index" (removed)="removeTag(i)" [editable]="true"
          (edited)="editTag(i, $event)" [aria-description]="'press enter to edit ' + tag.value">
          {{tag.value}}
          <button matChipRemove [attr.aria-label]="'remove ' + tag.value">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <input placeholder="New tag..." [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addTag($event)" />
      </mat-chip-grid>
    </mat-form-field>
    <mat-form-field class="item-to-center">
      <mat-label>Time Commitment</mat-label>
      <input matInput type="text" formControlName="timeCommitment">
    </mat-form-field>
    <mat-form-field class="item-to-center">
      <mat-label>Pay</mat-label>
      <input matInput type="text" formControlName="pay">
    </mat-form-field>
    <mat-form-field class="item-to-center">
      <mat-label>Application Deadline</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="deadline">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="item-to-center">
      <mat-label>Job Term</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="rangePicker">
        <input matStartDate placeholder="Start date" formControlName="start">
        <input matEndDate placeholder="End date" formControlName="end">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker></mat-date-range-picker>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" class="item-to-center">Create</button>
  </form>
</div>