<app-faculty-toolbar></app-faculty-toolbar>
<div class="page-container">
  <h1>Create New Job</h1>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field">
      <mat-label>Employer</mat-label>
      <input matInput type="text" formControlName="employer">
    </mat-form-field>
    <br>
    <mat-form-field class="form-field">
      <mat-label>Job Title</mat-label>
      <input matInput type="text" formControlName="title">
    </mat-form-field>
    <br>
    <mat-radio-group aria-label="Select a job type" formControlName="isInternship">
      <mat-radio-button value="true">Internship</mat-radio-button>
      <mat-radio-button value="false">Job</mat-radio-button>
    </mat-radio-group>
    <br>
    <mat-radio-group aria-label="Select a position type" formControlName="isFullTime">
      <mat-radio-button value="true">Full-Time</mat-radio-button>
      <mat-radio-button value="false">Part-Time</mat-radio-button>
    </mat-radio-group>
    <br>
    <br>
    <mat-form-field class="form-field">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field class="form-field">
      <mat-label>Location</mat-label>
      <textarea matInput formControlName="location"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field class="form-field">
      <mat-label>Required Years of Experience</mat-label>
      <textarea matInput formControlName="reqYearsExp"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field class="form-field">
      <mat-label>Tags</mat-label>
      <input matInput type="text" formControlName="tags">
    </mat-form-field>
    <br>
    <mat-form-field class="form-field">
      <mat-label>Time Commitment</mat-label>
      <input matInput type="text" formControlName="timeCommitment">
    </mat-form-field>
    <br>
    <mat-form-field class="form-field">
      <mat-label>Pay</mat-label>
      <input matInput type="text" formControlName="pay">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Application Deadline</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="deadline">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field>
      <mat-label>Job Term</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="rangePicker">
        <input matStartDate placeholder="Start date" formControlName="start">
        <input matEndDate placeholder="End date" formControlName="end">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker></mat-date-range-picker>
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button color="primary" type="submit">Create</button>
  </form>
</div>