<main class="page-container">
  <h1>Welcome!</h1>
  <p>Welcome to the Unnofficial PFW Research Web Portal!</p>
  <p>
    As a faculty user, connect with students by posting opportunities and reviewing
    student applications.
  </p>
  <p>
    As a student user, connect with faculty by applying to thier posted
    opportunities.
  </p>
  <div class="actions">
    <p>New here?</p>
    <a mat-flat-button color="primary" routerLink="/signup">Create an Account</a>
    <p>Already have an account?</p>
    <a mat-flat-button color="primary" routerLink="/login">Log In</a>
  </div>
</main>
