<article class="project-information-container">
  <mat-card class="content-card">
    <mat-card-header>
      <mat-card-title>
        <h2 class="space-after">{{ project().projectName }}</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="information">
      <div class="professor space-after">
        <h3 class="inline">Professor:</h3>
        <p>
          {{ project().professorName }} (<a
            [href]="'mailto:' + professorEmail()"
            >{{ professorEmail() }}</a
          >)
        </p>
      </div>
      <div class="date">
        <mat-icon>calendar_month</mat-icon>
        <h3>Posted On</h3>
        <p>{{ project().posted | date: "longDate" }}</p>
      </div>
      <div class="date space-after">
        <mat-icon>timer</mat-icon>
        <h3>Available Until</h3>
        <p>{{ project().deadline | date: "medium" }}</p>
      </div>
      <h3 class="larger">Description:</h3>
      <p class="space-after">{{ project().description }}</p>
      @if (project().responsibilities) {
        <h3 class="larger">Responsibilities:</h3>
        <p class="space-after">{{ project().responsibilities }}</p>
      }
      @if (project().categories && project().categories.length > 0) {
        <h3 class="larger">Categories:</h3>
        <mat-chip-set class="space-after">
          @for (category of project().categories; track $index) {
            <mat-chip highlighted>{{ category }}</mat-chip>
          }
        </mat-chip-set>
      }
      @if (project().GPA) {
        <h3>Minimum Required GPA:</h3>
        <p class="space-after">{{ project().GPA | number: "1.2-2" }}</p>
      }
      @if (project().majors && project().majors.length > 0) {
        <h3>Applicable Major(s):</h3>
        <p class="space-after">{{ project().majors.join(", ") }}</p>
      }
    </mat-card-content>
  </mat-card>
</article>
