.status-text {
    padding: 0.1em 0.4em;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 0.08em;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 5px;
    margin-bottom: 5px;
}

.accept-status-text {
    color: white;
    background-color: green;
    border: 1px solid green;
    margin-left: 5px;
}

.pending-status-text {
    color: white;
    background-color: goldenrod;
    border: 1px solid goldenrod;
    margin-left: 5px;
}

.reject-status-text {
    color: white;
    background-color: red;
    border: 1px solid red;
    margin-left: 5px;
}

h1,
h2 {
    margin-left: 17%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: 500;
    /*font-size: 2.5em;*/
}

.overviewDiv {
    background-color: antiquewhite;
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: 2%;
    border-radius: 2% / 10%;
}

.align-between {
    display: flex;
    /* Use flexbox */
    justify-content: space-between;
    /* Distribute items equally along the main axis */
    margin-left: 20%;
    margin-right: 25%;
    margin-top: 2%;
}

.align-together {
    display: flex;
    align-items: center;
}

.dateCapsule {
    background-color: lightgray;
    margin-left: 0.1em;
    padding: 0.5em 1.2em;
    font-size: 1em;
    letter-spacing: 0.08em;
    border-radius: 10% / 50%;
    margin-bottom: 5px;
    font-weight: 500;
    display: inline-block;
}

.infoDiv > p,
.responsibilitiesDiv > p {
    margin-bottom: .5%;
}

#description {
    margin-top: 1%;
}

mat-card-content > p {
    padding-top: 0.5%;
}


.text-response > mat-form-field {
    width: 100%;
}

.questions {
    align-items: center;
    padding: 10px;
}

.content-card > * {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.content-card > :last-child {
    margin-bottom: 1%;
}

mat-card-actions > * {
    margin-left: 1%;
    margin-right: 1%;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
}

::ng-deep .mat-mdc-text-field-wrapper {
    background-color: #fff !important;
}
