@if (applicationData !== -1) {
  <div id="applicantData">
    <h1>{{ projectInfo.projectName }}</h1>
    <div class="overviewDiv">
      <mat-card>
        <mat-card-content>
          <div class="infoDiv">
            <p>Professor Name: {{ projectInfo.professorName }}</p>
            <p></p>
            <p>Created: {{ posted }}</p>
          </div>
          <p id="description">{{ projectInfo.description }}</p>
          <div class="align-between">
            <p class="dateCapsule">Applied: {{ appliedDate }}</p>
            <div class="align-together">
              <p>Status:</p>
              @if (
                applicationData.status === "Accept" ||
                applicationData.status === "Reject"
              ) {
                <p
                  [class.accept-status-text]="
                    applicationData.status === 'Accept'
                  "
                  [class.reject-status-text]="
                    applicationData.status === 'Reject'
                  "
                  class="status-text"
                  style="margin-top: 7px"
                >
                  {{ applicationData.status }}ed
                </p>
              }
              @if (applicationData.status === "Pending") {
                <p
                  [class.pending-status-text]="true"
                  class="status-text"
                  style="margin-top: 7px"
                >
                  {{ applicationData.status }}
                </p>
              }
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!--TODO ADD LOCATION WHEN AVAILABLE-->
    <h2>Application Information</h2>
    <div class="overviewDiv">
      <mat-card>
        @if (applicationData !== -1 && applicationData !== null) {
          <div class="infoDiv">
            @if (projectInfo.responsibilities) {
              <div class="responsibilitiesDiv">
                <mat-card-header>
                  <mat-card-title>Expected Responsibilities</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <mat-card class="content-card">
                    <p>{{ projectInfo.responsibilities }}</p>
                  </mat-card>
                </mat-card-content>
              </div>
            }
            <mat-card-header>
              <mat-card-title>
                Project Requirements & Information
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-card class="content-card">
                <p>GPA Requirement: {{ projectInfo.GPA }}</p>
                <p>Application Deadline: {{ deadline }}</p>
                @if (projectInfo.majors) {
                  <p>
                    Applicable Majors:
                    {{
                      projectInfo.majors.length > 1
                        ? projectInfo.majors.join(", ")
                        : "None"
                    }}
                  </p>
                }
                @if (projectInfo.categories) {
                  <p>
                    Project Categories:
                    {{
                      projectInfo.categories.length > 0
                        ? projectInfo.categories.join(", ")
                        : "None"
                    }}
                  </p>
                }
              </mat-card>
            </mat-card-content>
          </div>
        }
        <mat-card-header>
          <mat-card-title>Application Questions</mat-card-title>
        </mat-card-header>
        @if (questions) {
          <mat-card-content>
            <mat-card class="content-card">
              @for (question of questions; track question; let i = $index) {
                <div class="questions">
                  <label id="question-label">
                    Question {{ i + 1 }}: {{ question.question }}
                  </label>
                  @if (question.requirementType === "radio button") {
                    <div>
                      <mat-radio-group [value]="question.answers![0]" disabled>
                        @for (
                          choice of question.choices;
                          track choice;
                          let j = $index
                        ) {
                          <mat-radio-button [value]="choice">{{
                            choice
                          }}</mat-radio-button>
                        }
                      </mat-radio-group>
                    </div>
                  } @else if (question.requirementType === "check box") {
                    <div class="radio-group">
                      <section>
                        @for (
                          choice of question.choices;
                          track choice;
                          let j = $index
                        ) {
                          <mat-checkbox
                            [checked]="question.answers?.includes(choice)"
                            disabled
                          >
                            {{ choice }}
                          </mat-checkbox>
                        }
                      </section>
                    </div>
                  } @else {
                    <div>
                      <div class="text-response">
                        <mat-form-field>
                          <mat-label>Answer</mat-label>
                          <textarea matInput readonly>{{
                            question.answers![0]
                          }}</textarea>
                        </mat-form-field>
                      </div>
                    </div>
                  }
                </div>
              }
            </mat-card>
          </mat-card-content>
        }
        <mat-card-actions class="buttons-container">
          @if (applicationData.status === "Pending") {
            <button mat-raised-button color="primary" class="accept-button">
              Modify Application
            </button>
          }
          <button
            mat-raised-button
            color="warn"
            (click)="rescindApplication(applicationData._id)"
          >
            Rescind Application
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
}
