<div *ngIf="applicationData !== -1" id="applicantData">
    <h1>{{projectInfo.projectName}}</h1>

    <div class="overviewDiv">
        <mat-card>
            <mat-card-content>
                <div class="infoDiv">
                    <p>Professor Name · {{projectInfo.professorName}}
                    <p>
                    <p>Created · {{posted}} </p>
                </div>

                <p id="description">{{projectInfo.description}}</p>

                <div class="align-between">
                    <p class="dateCapsule">Applied : {{appliedDate}}</p>

                    <div class="align-together">
                        <p>Status: </p>
                        <p *ngIf="applicationData.status === 'Accept' || applicationData.status === 'Reject'"
                            [class.accept-status-text]="applicationData.status === 'Accept'"
                            [class.reject-status-text]="applicationData.status === 'Reject'" class="status-text"
                            style="margin-top: 7px;">
                            {{applicationData.status}}ed</p>
                        <p *ngIf="applicationData.status === 'Pending'" [class.pending-status-text]="true"
                            class="status-text" style="margin-top: 7px;">
                            {{applicationData.status}}</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!--TODO ADD LOCATION WHEN AVAILABLE-->
    <h2>Application Information</h2>
    <div class="overviewDiv">
        <mat-card>
            <div class="infoDiv" *ngIf="applicationData !== -1 && applicationData !== null">
                <div class="responsibilitiesDiv" *ngIf="projectInfo.responsibilities">
                    <mat-card-header>
                        <mat-card-title>Expected Responsibilities</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-card class="content-card">
                            <p>{{projectInfo.responsibilities}}</p>
                        </mat-card>
                    </mat-card-content>
                </div>
                <mat-card-header>
                    <mat-card-title>Project Requirements & Information</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-card class="content-card">
                        <p>GPA Requirement: {{projectInfo.GPA}}</p>
                        <p>Application Deadline: {{deadline}}</p>
                        <p>Applicable Majors: {{projectInfo.majors.join(', ')}}</p>
                        <p>Project Categories: {{projectInfo.categories.join(', ')}} </p>
                    </mat-card>
                </mat-card-content>
            </div>

            <mat-card-header>
                <mat-card-title>Application Questions</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-card class="content-card">
                    <div *ngFor="let question of applicationData.questions; index as i" class="questions">
                        <label id="question-label">Question {{ i + 1 }}: {{ question.question }}</label>
                        <div *ngIf="question.requirementType === 'radio button'">
                            <mat-radio-button *ngFor="let choice of question.choices; index as j"
                                [checked]="answersArray[i][j].answer" [disabled]="true">{{ choice }}</mat-radio-button>
                        </div>
                        <div *ngIf="question.requirementType === 'check box'" class="radio-group">
                            <mat-checkbox *ngFor="let choice of question.choices; index as j"
                                [checked]="answersArray[i][j].answer" [disabled]="true">{{ choice }}</mat-checkbox>
                        </div>
                        <div *ngIf="question.requirementType === 'text'">
                            <div class="text-response">
                                <mat-form-field>
                                    <mat-label>Answer</mat-label>
                                    <textarea matInput readonly>{{answersArray[i]}}</textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </mat-card-content>
            <mat-card-actions>
                <button *ngIf="applicationData.status === 'Pending'" mat-raised-button color="primary"
                    class="accept-button">Modify
                    Application</button>
                <button mat-raised-button color="warn" (click)="rescindApplication(applicationData.id)">Rescind
                    Application</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<app-spinner></app-spinner>