.job-card {
  margin: 0px 10px 0px 10px;
  width: 350px;
}

.job-title {
  height: 3.5em;
}

.max-two-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.content-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px 10px;
  align-items: center;
  justify-content: start;
}

.field-title {
  margin: auto 0px;
  font-weight: 500;
}

.field-content {
  display: flex;
  align-items: center;
  height: 2.5em;
}

.divider {
  margin-top: 10px;
}

.actions-container {
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
}

.actions-container button {
  margin: auto 8px;
}