<div class="centerDivStyles">
  <h2>Sign Up</h2>
  <br>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field">
      <mat-label> First Name </mat-label>
      <input matInput type="text" name="name" [formControl]="name" required>
      <mat-error *ngIf="name.invalid">{{ getNameErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label> Email </mat-label>
      <input matInput type="email" name="email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label> Password </mat-label>
      <input matInput type="password" name="password" [formControl]="password" required>
      <mat-error *ngIf="password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" *ngIf="isValidInput" type="submit"
      [disabled]="name.invalid || email.invalid || password.invalid" class="submit-button">Submit</button>
  </form>
</div>