<mat-form-field>
    <mat-label>Question</mat-label>
    <input matInput #input [(ngModel)]="question" required>
</mat-form-field>

<mat-form-field>
    <mat-label>Question Type</mat-label>
    <mat-select [(ngModel)]="type" required>
        <mat-option value="text">Text Reponse</mat-option>
        <mat-option value="radio buttons">Multiple Choice</mat-option>
        <mat-option value="check box">CheckBox</mat-option>
    </mat-select>
</mat-form-field>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="onCreate()">Create</button>
</div>