::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
    background: #bda274; /* Color when hovered */
}

/* Handle */
::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background: #c3aa7e; /* Color of the scrollbar handle */
    border-radius: 4px; /* Rounded corners */
}

/* Track */
::-webkit-scrollbar-track 
body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Color of the scrollbar track */
}

/* Handle on active state */
::-webkit-scrollbar-thumb:active 
body::-webkit-scrollbar-thumb:active {
    background: #b29362; /* Color when active/pressed */
}

/* Corner */
::-webkit-scrollbar-corner 
body::-webkit-scrollbar-corner {
    background: transparent; /* Background color of the scrollbar corner */
}