<div class="container">
  <mat-card class="card">
    <mat-card-header class="title-section">
      <mat-card-title>Confirm Your Email</mat-card-title>
      <mat-card-subtitle>Thank you for signing up!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>We just sent you an email with a link to confirm your account.</p>
      <p>
        Please follow the instructions in the email to proceed to the web
        portal.
      </p>
    </mat-card-content>
  </mat-card>
</div>
