<div class="page-container">
  <div class="heading">
    <h1>{{ isCreateProject ? 'Create Project Post' : 'Update Project Post' }}</h1>
    <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
  </div>
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <mat-stepper class="item-to-center">
      <mat-step formGroupName="details" [stepControl]="details" label="Fill out the project's details">
        <mat-form-field class="block first-field">
          <mat-label>Project Name</mat-label>
          <input matInput formControlName="projectName" type="text" name="projectName">
          @if (details.get('projectName')?.invalid) {
          <mat-error>{{ requiredFieldErrorMessage('projectName', 'Project Name') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="block">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" type="text" name="description">
          @if (details.get('description')?.invalid) {
          <mat-error>{{ requiredFieldErrorMessage('description', 'Description') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="block">
          <mat-label>Required Majors</mat-label>
          <mat-select formControlName="majors" multiple>
            @for (major of majorsList; track major) {
            <mat-option [value]="major">{{ major }}</mat-option>
            }
          </mat-select>
          @if (details.get('majors')?.invalid) {
          <mat-error>{{ requiredFieldErrorMessage('majors', 'Majors') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="block">
          <mat-label>Categories</mat-label>
          <mat-chip-grid #chipGrid aria-label="Enter categories" required>
            @for (category of categories.controls; track category; let i = $index) {
            <mat-chip-row (removed)="removeCategory(i)" [editable]="true" (edited)="editCategory(i, $event)"
              [aria-description]="'press enter to edit ' + category.value">
              {{ category.value }}
              <button matChipRemove [attr.aria-label]="'remove ' + category.value">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            }
            <input placeholder="New category..." [matChipInputFor]="chipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="addCategory($event)" (blur)="categories.markAsTouched()">
          </mat-chip-grid>
          @if (categories.invalid) {
          <mat-hint>There must be at least 1 category</mat-hint>
          }
        </mat-form-field>

        <mat-form-field class="block">
          <mat-label>Application Deadline</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="deadline">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <!-- I have tried for hours to get Material form validation working correctly for this field,
            but nothing has worked. This at least lets the user know that it is required. -->
          @if (details.get('deadline')?.invalid) {
          <mat-error>{{ requiredFieldErrorMessage('deadline', 'Deadline') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="block">
          <mat-label>Responsibilities</mat-label>
          <input matInput formControlName="responsibilities" type="text" name="responsibilities">
        </mat-form-field>

        <mat-form-field class="block">
          <mat-label>Minimum Required GPA</mat-label>
          <input matInput formControlName="GPA" type="text" name="GPA">
          @if (details.get('GPA')?.invalid) {
          <mat-error>{{ gpaErrorMessage() }}</mat-error>
          }
        </mat-form-field>

        <div class="buttons-container">
          <button mat-raised-button matStepperPrevious type="button" disabled>Previous</button>
          <span class="spacer"></span>
          <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
        </div>
      </mat-step>

      <mat-step formGroupName="questionsGroup" [stepControl]="questionsGroup" label="Add questions to ask applicants">
        <div class="first-field">
          <app-create-questions-form [questionsGroup]="questionsGroup"
            [questionsData]="initialProjectData?.questions ?? undefined"></app-create-questions-form>
        </div>

        <div class="buttons-container">
          <button mat-raised-button matStepperPrevious type="button">Previous</button>
          <span class="spacer"></span>
          @if (isCreateProject) {
          <button mat-raised-button color="primary" class="first-button" type="button" (click)="onSave()">Save
            Draft</button>
          }
          @if (!isCreateProject && projectType === 'Draft') {
          <button mat-raised-button color="primary" class="first-button" type="button"
            (click)="convertToActive()">Create Active Project</button>
          }
          <button mat-raised-button color="primary" type="submit">{{ isCreateProject ? 'Create Active Project' :
            'Update'}}</button>
        </div>
      </mat-step>
    </mat-stepper>

    <!-- Old form's way to allow the user to choose how they create their project posting -->
    <!-- <mat-radio-group [(ngModel)]="requirementsType" name="requirementSelection">
      <mat-radio-button [value]="0">Requirements through the website</mat-radio-button> <br>
      <mat-radio-button [value]="1">Requirements through a file</mat-radio-button> <br>
      <mat-radio-button [value]="2">Requirements through the website and a file</mat-radio-button> <br>
    </mat-radio-group> -->

    <!-- Old form's way to allow the user to upload an image -->
    <!-- <div id="fileReqs" *ngIf="requirementsType == 1">
    <label>Upload requirements file</label>
    <input type="file" accept=".doc,.docx,application/msword,.pdf,.txt">
    <p>Warning: Using a file with all requirements will prevent you from using advanced searching / filtering on
      applicants. Consider using a combination of file requirements and website requirements if you require advanced
    searching / filtering.</p>
  </div> -->
  </form>
  <app-spinner></app-spinner>
</div>