<main>
  <form (ngSubmit)="onSubmit()">
    <label> 
      Post Title: <br>
      <input type="text" [(ngModel)]="title" name="title" required>
      <br>
    </label>
    <br>
    <label> 
      Post Image: <br>
      <input type="file" accept="image/*" id="imageCapturer" (change)="onFileSelected($event)">
      <br>
    </label>
    <br>

    <label id="requirement-selection-label">Select the requirement creation medium</label>
    <br>
    <mat-radio-group [(ngModel)]="requirementsType" name="requirementSelection">
      <mat-radio-button [value]="0">Requirements through the website</mat-radio-button> <br>
      <mat-radio-button [value]="1">Requirements through a file</mat-radio-button> <br>
      <mat-radio-button [value]="2">Requirements through the website and a file</mat-radio-button> <br>
    </mat-radio-group>
    <br><br>

    <div id="websiteReqs" *ngIf="requirementsType == 0">

      <label> 
        Description: <br> 
        <input class = "text-field" type="text" [(ngModel)]="description" name="description" required>
        <br>
      </label>
      <br>
      <label> 
        Responsibilities: <br>
        <input class = "text-field" type="text" [(ngModel)]="responsibilities" name="responsibilities" required>
        <br>
      </label>
      <br>

      <p class = "title">Research Category: <span
          matTooltip="Research categories are used to recommend opportunites to relevant students and for searching"
          matTooltipClass="example-tooltip-uppercase"><i class="material-icons">help_outline</i></span></p>
      <ng-container #categories></ng-container>
      <br>
      <button type="button" (click)="createNewCategory('', false)">Add New Research Category</button>
      <br><br>

      <label> 
        GPA Requirement: 
        <input class ="gpa" type="number" [(ngModel)]="gpa" name="gpa" min="0" max="4">
        <br><br>
      </label><br>
      <label> 
        Major(s): <br>
      </label>
      <br>
      <ng-container #majors></ng-container>
      <button type="button" (click)="createNewCategory('', true)">Add New Major</button>
      <br>
      <br>
      <label> Deadline: <mat-form-field color="accent" appearance="fill">
        <input matInput [(ngModel)]="deadline" [matDatepicker]="picker" name="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> </label>
      <br><br>

      <ng-container #customQuestions></ng-container>

      <button type="button" (click)="openDialog()">Create Custom Requirement</button> 
      <br><br><br>
      <button type="button">Next Page</button>
    </div>

    <div id="fileReqs" *ngIf="requirementsType == 1">
      <label>Upload requirements file</label>
      <input type="file" accept=".doc,.docx,application/msword,.pdf,.txt">
      <p>Warning: Using a file with all requirements will prevent you from using advanced searching / filtering on
        applicants. Consider using a combination of file requirements and website requirements if you require advanced
        searching / filtering.</p>
    </div>

    <br>
    <h1>Create Research Listing</h1>

    <button mat-button type="submit" *ngIf="projectID === null && projectType === 'Active'">Create New Project</button>
  <button mat-button type="button" *ngIf="projectID === null" (click)="createDraft()">Create Draft</button>
  <button mat-button type="button" *ngIf="projectID !== null" (click)="saveProject()">Save {{projectType}} Project</button>
  </form>
<app-spinner></app-spinner>

</main>  