.page-container {
  margin: 0px 18%;
  padding: 20px;
  height: max-content;
  background-color: white;
}

h1 {
  display: block;
  margin: 20px 12%;
  font-weight: 500;
}

.item-to-center {
  display: block;
  margin: 0em 12% 1em 12%;
}

.block {
  display: block;
  margin-bottom: 10px;
}

.first-field {
  margin-top: 1em;
}

.buttons-container {
  display: flex;
}

.first-button {
  margin-right: 20px;
}

.spacer {
  flex: 1 1 auto;
}
