main {
    padding: 2.5%;
}
label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.title {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
    margin-bottom: 10px;
    font-weight: bold;
}


button {
    padding: 10px 15px;
}

.text-field {
    width: 25%;
    height: 100px;
}
.gpa {
    width: 45px;
}

input {
	box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	padding: 7px;
	outline: none;
}