<main class="page-container">
  <header>
    @if (project) {
      <h1>Apply to Project</h1>
    }
    <button mat-stroked-button type="button" color="warn" (click)="cancel()">
      Cancel
    </button>
  </header>

  <form [formGroup]="applyForm" (ngSubmit)="onSubmit()">
    <mat-stepper class="item-to-center">
      <mat-step
        formGroupName="details"
        [stepControl]="details"
        label="Review Project Details"
      >
        @if (project) {
          <section class="stepper-section">
            <app-student-project-description
              [professorEmail]="professorEmail"
              [project]="project"
            />
          </section>
        }
      </mat-step>

      <mat-step
        formGroupName="questionsGroup"
        [stepControl]="questionsGroup"
        label="Complete Application Questions"
      >
        <section formArrayName="formQuestions" class="stepper-section">
          @for (question of questions; track question; let i = $index) {
            <div>
              <label
                id="question-label"
                [class.required]="question.required"
                style="display: inline-block"
              >
                Question {{ question.questionNum }}: {{ question.question }}
                @if (question.required) {
                  <p class="red" style="display: inline">*</p>
                }
              </label>
              @if (question.requirementType === "radio button") {
                <div>
                  <mat-radio-group
                    aria-labelledby="question-label"
                    [formControlName]="i"
                    class="radio-group"
                  >
                    @for (choice of question.choices; track choice) {
                      <mat-radio-button [value]="choice">{{
                        choice
                      }}</mat-radio-button>
                    }
                  </mat-radio-group>
                </div>
              }
              @if (question.requirementType === "check box") {
                <div class="radio-group">
                  @for (choice of question.choices; track choice) {
                    <mat-checkbox
                      [formControl]="getCheckBoxControl(i, choice)!"
                    >
                      {{ choice }}
                    </mat-checkbox>
                  }
                </div>
              }
              @if (question.requirementType === "text") {
                <div class="text-box">
                  <mat-form-field>
                    <mat-label>Answer</mat-label>
                    <textarea matInput [formControlName]="i"></textarea>
                  </mat-form-field>
                </div>
              }
            </div>
          }
        </section>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="applyForm.invalid"
        >
          Submit
        </button>
      </mat-step>
    </mat-stepper>
  </form>
</main>
