main {
    margin: 0px 10%;
    padding: 20px;
    height: max-content;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 12%;
}

h1 {
    font-weight: 500;
}

.stepper-section {
    margin-top: 2em;
}

.item-to-center {
    display: block;
    margin: 0em 10% 0em 10%;
}

.red {
    color: red;
}

#question-label {
    padding-top: 2%;
}

.text-box > mat-form-field {
    width: 100%;
    margin-top: 1%;
}

.radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1%;
}
