
main {
    height: 100vh;
}
textarea {
    width: 400px;
    height: 150px;
}
  
label {
    position: absolute;
    top: 0.2ex;
    z-index: 1;
    left: 2em;
    background-color: white;
    padding: 0 5px;

    border: 1px solid gray;
    border-radius: 6px;
    position: relative;
    width: 200px;
    margin: 10px;
    line-height: 6ex;

}
 
mat-sidenav-container {
    height: 100vh;
}

/* Sidenav styling */

mat-sidenav {
    width: 200px;
    background-color: rgb(222, 222, 222);
}

#navButton {
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
}
#navButton :hover {
    width: 28px;
}

.icon {
    padding-top: 5%;
    width: 24px;
}

.navTitle {
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 5px;
    vertical-align: middle;
}

/*Filter Main content*/
mat-sidenav-content {
    height: 100vh;
    padding: 0%;
}

/* Filter sidebar styling */
#left-panel {
    width: 25%;
    height: 100vh;
    background-color: rgb(183, 179, 179);
    position: fixed;
}

.filter-comps {
    padding-left:10%;
    color: red;
    font-size: 1em;
}

#major-selection {    
    font-size: 2em;
}

.major-select {
    padding-left: 10%;
}

#gpa-slider {
    margin-left: 5%;
    color: black;;
}


/* Main panel styling */
#main-panel {
    background-color: red;
    height: 100%;
    margin-left: 25%;
}

.opp {
    margin: 25%;
}

/*Search bar*/
.searchbar {
    width: 300px;
    position: relative;
    padding-left:25%;
    padding-right: 25%;
}

.opp {
    width: 300px;
    position: relative;
    padding-left:25%;
    padding-right: 25%;
}