h2 {
    margin: 1em 0.5em;
    font-weight: 500;
}

.scroll-right-div {
    display: flex;
    margin: 0.5em 0.8em;
    align-items: center;
}

.table-container {
    max-width: max-content;
}

.projects-table {
    display: block;
    width: 100%;
    overflow-x: scroll;
}

.status-text {
    padding: 0.2em 0.4em;
    font-weight: 500;
    letter-spacing: 0.08em;
    max-width: fit-content;
    border-radius: 5px;
}

.pending-status-text {
    color: darkorange;
    border: 1px solid darkorange;
}

.accept-status-text {
    color: green;
    border: 1px solid green;
}

.reject-status-text {
    color: red;
    border: 1px solid red;
}