<div class="centerDivStyles">
  <h2>Enter New Password</h2>
  <br />
  <form [formGroup]="confirmForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field">
      <mat-label>Create New Password</mat-label>
      <!-- password field with visibility toggle -->
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        id="provisionalPassword"
        formControlName="provisionalPassword"
        name="provisionalPassword"
        required
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      @if (confirmForm.get("provisionalPassword")?.invalid) {
        <mat-error>{{ passwordErrorMessage() }}</mat-error>
      }
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="confirmForm.invalid"
      class="submit-button"
    >
      Submit
    </button>
  </form>
</div>
