.page-container {
    margin: 20px 15%;
}

h1 {
    font-weight: 500;
    margin-bottom: 12px;
}

.align-headers .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.mat-expansion-panel {
    background-color: #eee;
}

.content-card {
    margin-bottom: 12px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
