.root-container {
    display: flex;
    justify-content: center;
}

.centerDivStyles {
    margin: 70px auto;
    padding: 20px;
    width: 300px;
    max-width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
}

.centerDivStyles h2 {
    font-weight: 500;
}

.form-field {
    margin: 0.3em auto;
    width: 100%;
}

.submit-button {
    margin-top: 0.3em;
}

.custom-link {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .custom-link:hover {
    color: darkblue;
  }