<div class="centerDivStyles">
  <h2>Sign Up</h2>
  <br>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field">
      <mat-label> First Name </mat-label>
      <input matInput type="text" formControlName="name" name="name" required>
      <mat-error *ngIf="signupForm.get('name')?.invalid">{{ nameErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label> Email </mat-label>
      <input matInput type="email" formControlName="email" name="email" required>
      <mat-error *ngIf="signupForm.get('email')?.invalid">{{ emailErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label> Password </mat-label>
      <input matInput type="password" formControlName="password" name="password" required>
      <mat-error *ngIf="signupForm.get('password')?.invalid">{{ passwordErrorMessage() }}</mat-error>
    </mat-form-field>
    <br>
    <!--[==[
      Handle the AccountType
      The system sets the {{accountType}} on start
      ]==]-->
    <h4>{{accountType}} Account Type</h4>
    <mat-slider min="0" max="2" step="1" showTickMarks value="0">
      <input matSliderThumb (input)="onInputChange($event)">
    </mat-slider>
    <br>
    <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid"
      class="submit-button">Submit</button>
  </form>
</div>
