<div class="faculty-project-selection-column">
  <button mat-raised-button class="project-selection-button" (click)="updateProjectType('active')">Active
    Projects</button>
  <button mat-raised-button class="project-selection-button" (click)="updateProjectType('archived')">Archived
    Projects</button>
  <button mat-raised-button class="project-selection-button" (click)="updateProjectType('draft')">Project
    Drafts</button>
  <button mat-raised-button color="primary" class="project-creation-button" (click)="redirectToCreateProject()">Create
    Project</button>
</div>
<div class="scroll-x">
  <div *ngFor="let project of projects" class="project-card-container">
    <mat-card *ngIf="project.projectType === currentProjectType" class="project-card" [id]="'p'+project.number"
      [style.background-color]="selected[project.number] ? '#EBD99F' : 'white'"
      (click)="regenerateTableData(project, project.number)">
      <mat-card-title class="project-card-title"><a href="/faculty/viewProject/{{project.projectType}}/{{project.id}}">
          {{ project.projectName }}
        </a>
      </mat-card-title>
      <mat-card-content>
        <!-- <p>Professor: {{ project.professor }}</p> -->
        <p>Posted Date: {{ project.posted | date:'medium' }}</p>
        <p>Application Deadline: {{ project.deadline }}</p>
        <p>
          Number of Applicants: {{project.numApp}}
        </p>
        <!-- <p>{{project._id}}</p> -->
      </mat-card-content>
      <mat-card-actions>
        <div class="action-buttons">
          <button mat-raised-button color="primary" *ngIf="project.projectType === 'active'"
            (click)="buttonUpdateProject(project.id,'Active')">Update</button>
          <button mat-raised-button color="accent" *ngIf="project.projectType === 'active'"
            (click)="buttonArchiveProject(project.id)">Archive</button>
          <button mat-raised-button color="warn" *ngIf="project.projectType === 'active'"
            (click)="buttonDeleteProject(project.id,'Active')">Delete</button>

          <button mat-raised-button color="warn" *ngIf="project.projectType === 'archived'"
            (click)="buttonDeleteProject(project.id,'Archived')">Delete</button>

          <button mat-raised-button color="primary" *ngIf="project.projectType === 'draft'"
            (click)="buttonUpdateProject(project.id,'Draft')">Update</button>
          <button mat-raised-button color="accent" *ngIf="project.projectType === 'draft'">Publish</button>
          <button mat-raised-button color="warn" *ngIf="project.projectType === 'draft'"
            (click)="buttonDeleteProject(project.id,'Draft')">Delete</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>