certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
et-xmlfile==1.1.0
exrex==0.11.0
Faker==23.1.0
idna==3.4
numpy==1.26.0
openpyxl==3.0.10
pymongo==4.6.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3.post1
requests==2.31.0
requests-futures==1.0.1
six==1.16.0
stem==1.8.2
tzdata==2023.3
urllib3==2.0.7
bcrypt==4.1.2
