.page-container {
  margin: 0px 18%;
  padding: 20px;
  height: max-content;
  background-color: white;
}

h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.item-to-center {
  display: block;
  margin: 0em 12% 1em 12%;
}

h1.item-to-center {
  margin-top: 1em;
}

.first-field {
  margin-top: 1em;
}

.block {
  display: block;
  margin-bottom: 10px;
}

span {
  margin-left: 1em;
}

.radio-field {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.questions-operations {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.buttons-container {
  display: flex;
}

.first-button {
  margin-right: 20px;
}

.spacer {
  flex: 1 1 auto;
}