<main>
  <!-- <button id = "navButton" mat-button (click)="opened = !opened">
    <img src="../../../assets/photos/burger-menu-24.png" />
  </button> -->
  <div>
    <h2>Opportunity Name</h2>
    <img class="oppPic" src="../../../assets/photos/monitor.jpg" /><br>
    <opportunity text="Opportunity 1">Opportunity 1<br></opportunity>
    <label>GPA: <gpa>3.0</gpa> &nbsp;&nbsp;&nbsp;&nbsp;</label>
    <label>Major:<major major="Comp Sci">Computer Science</major> &nbsp;&nbsp;&nbsp;&nbsp;</label>
    <label>Standing: <standing standing="Senior">Senior</standing> &nbsp;&nbsp;&nbsp;&nbsp;</label>
  </div>
  <br><br>

  <!-- <div *ngFor="let question of questions">
  <app-text-field name="{{question}}" [(ngModel)]="answer"></app-text-field>
  </div> -->

  <br><br>
  <button id="btn1" type="submit" (click)="submitApp(this)">Submit</button>
</main>
