<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="student-table">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Name
      </th>
      <td mat-cell *matCellDef="let student"><a
          href="/faculty/application/{{student.project}}/{{student.application}}">{{student.name}} </a></td>
    </ng-container>

    <ng-container matColumnDef="gpa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by gpa">
        GPA
      </th>
      <td mat-cell *matCellDef="let student"> {{student.GPA}} </td>
    </ng-container>

    <ng-container matColumnDef="degree">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by degree">
        Degree
      </th>
      <td mat-cell *matCellDef="let student"> {{student.major}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
        Email
      </th>
      <td mat-cell *matCellDef="let student"> {{student.email}} </td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Status
      </th>
      <td mat-cell *matCellDef="let student">
        <p *ngIf="student.status === 'Accept' || student.status === 'Reject'"
          [class.accept-status-text]="student.status === 'Accept'"
          [class.reject-status-text]="student.status === 'Reject'" class="status-text">{{student.status}}ed</p>
        <!-- <p *ngIf="student.status === 'Rejected'" [style.background-color]="'red'">{{student.status}}</p> -->
        <button *ngIf="student.status === 'Pending'" mat-raised-button color="primary"
          (click)="applicationDecision(student.application, 'Accept')" class="accept-button">Accept</button>
        <button *ngIf="student.status === 'Pending'" mat-raised-button color="warn"
          (click)="applicationDecision(student.application, 'Reject')">Reject</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>