.student-table {
    margin-top: 20px;
}

.accept-button {
    margin-right: 1em;
}

.status-text {
    padding: 0.2em 0.4em;
    font-weight: 500;
    letter-spacing: 0.08em;
    max-width: fit-content;
    border-radius: 5px;
}

.accept-status-text {
    color: green;
    border: 1px solid green;
}

.reject-status-text {
    color: red;
    border: 1px solid red;
}

.table-container {
    overflow-y: auto;
    max-height: 33vw;
    margin-left: 1.5%;
    margin-right: 1.5%;
    /* Adjust the max-height as needed */
}

.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}

/* Scrollbar Track */
::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bda274;
    /* Color when hovered */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c3aa7e;
    /* Color of the scrollbar handle */
    border-radius: 4px;
    /* Rounded corners */
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    /* Color of the scrollbar track */
}

/* Handle on active state */
::-webkit-scrollbar-thumb:active {
    background: #b29362
        /* Color when active/pressed */
}

/* Corner */
::-webkit-scrollbar-corner {
    background: transparent;
    /* Background color of the scrollbar corner */
}