<div>
  <mat-card class="assessment-card">
    <mat-card-header>
      <mat-card-title class="assessment-name">{{ assessmentData.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="content-container">
        <div class="field-title">Created:</div>
        <div>{{ dateToString(assessmentData.dateCreated) }}</div>
        <ng-container *ngFor="let question of topQuestions(); index as i">
          <div class="field-title">{{ question ? 'Question ' + (i + 1) + ':' : ''}}</div>
          <div class="field-content">
            <div class="max-two-lines">{{ question }}</div>
          </div>
        </ng-container>
      </div>
      <mat-divider class="divider"></mat-divider>
    </mat-card-content>
    <mat-card-actions class="actions-container">
      <button mat-button (click)="editAssessment()">EDIT</button>
      <button mat-button color="warn" (click)="deleteAssessment()">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>