@if (responseData !== -1) {
<div class="container" id="applicantData">
  <div class="applicationInfo">
    <mat-card class="billboard">
      <mat-card-header>
        <mat-card-title>{{responseData.projectData.projectName}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>
        <br>
        <mat-card-subtitle>Project Description</mat-card-subtitle>
        <p>{{responseData.projectData.description}}</p>
        <br>
        <mat-divider></mat-divider>
        <br>
        <table>
          <tr class="dates">
            <td>
              <mat-card-subtitle>Posted</mat-card-subtitle>
              <p>{{ posted }}</p>
            </td>
            <td>
              <mat-card-subtitle>Deadline</mat-card-subtitle>
              <p>{{ deadline }}</p>
            </td>
            <td>
              <mat-card-subtitle>Applied on</mat-card-subtitle>
              <p>{{ appliedDate }}</p>
            </td>
          </tr>
          <br>
          <tr>
            <td>
              <mat-card-subtitle>GPA Requirement</mat-card-subtitle>
              <p>{{ responseData.projectData.GPA }}</p>
            </td>
            <td>
              <mat-card-subtitle>Applicant GPA</mat-card-subtitle>
              <p>{{ responseData.applicantData.GPA }}</p>
            </td>
          </tr>
        </table>
        <br>
        <mat-divider></mat-divider>
        <br>
      </mat-card-content>
      <mat-card-content class="application">
        @for (question of responseData.applicantData.answers; track question; let i = $index) {
        <div>
          <label id="question-label">Question {{ i + 1 }}:<br> {{ question.question }}</label>
          @if (question.requirementType === 'radio button') {
          <div>
            @for (choice of question.choices; track choice; let j = $index) {
            <mat-radio-button [checked]="answersArray[i][j].answer" [disabled]="true">{{ choice }}</mat-radio-button>
            }
          </div>
          }
          @if (question.requirementType === 'check box') {
          <div class="radio-group">
            @for (choice of question.choices; track choice; let j = $index) {
            <mat-checkbox [checked]="answersArray[i][j].answer" [disabled]="true">{{ choice }}</mat-checkbox>
            }
          </div>
          }
          @if (question.requirementType === 'text') {
          <div>
            <mat-form-field style="width: 100%">
              <mat-label>Answer</mat-label>
              <textarea matInput readonly style="width: 100%">{{answersArray[i]}}</textarea>
            </mat-form-field>
          </div>
          }
        </div>
        }
        <p>Status: <span [class.accept-status-text]="responseData.applicantData.status === 'Accept'"
            [class.reject-status-text]="responseData.applicantData.status === 'Reject'"
            [class.pending-status-text]="responseData.applicantData.status === 'Pending'" class="status-text">
            {{applicationStatus}}</span></p>
      <div class="buttons-container">
        @if (responseData.applicantData.status === 'Pending') {
          <button mat-raised-button color="primary"
            (click)="applicationDecision(responseData.applicantData.application, projectID, 'Accept')"
            class="accept-button">Accept</button>
          }
          @if (responseData.applicantData.status === 'Pending') {
          <button mat-raised-button color="warn"
            (click)="applicationDecision(responseData.applicantData.application, projectID, 'Reject')">Reject</button>
          }
      </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
}