.status-text {
    padding: 0.2em 0.4em;
    font-weight: 500;
    letter-spacing: 0.08em;
    max-width: fit-content;
    border-radius: 5px;
}

.container {
    width: 100%;
}

.billboard {
    max-width: 100%;
    padding: 0.2em;
    width: 55%;
}

button {
    margin-top: 1%;
    margin-right: 2%;
}

.applicationInfo {
    margin: 0 auto;
    display: flex;
  justify-content: center;
  padding: 0.5em;
}

table {
    text-align: center;
    width: 100%;
}

.application > * {
    padding: 0.5em;
}

.dates {
    padding: 0.5em 0.4em;
}

.accept-status-text {
    color: green;
    border: 1px solid green;
}

.reject-status-text {
    color: red;
    border: 1px solid red;
}

.pending-status-text {
    color: white;
    background-color: goldenrod;
    border: 1px solid goldenrod;
    margin-left: 5px;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
}