.status-text {
    padding: 0.2em 0.4em;
    font-weight: 500;
    letter-spacing: 0.08em;
    max-width: fit-content;
    border-radius: 5px;
}

.billboard {
    max-width: 80%;
    padding: 0.2em;
}

.applicationInfo {
    margin: 0 auto;
    display: flex;
  justify-content: center;
  padding: 0.5em;
}

table {
    text-align: center;
    width: 100%;
}

.application > * {
    padding: 0.5em;
}

.dates {
    padding: 0.5em 0.4em;
}

.accept-status-text {
    color: green;
    border: 1px solid green;
}

.reject-status-text {
    color: red;
    border: 1px solid red;
}

.pending-status-text {
    color: gray;
    border: 1px solid gray;
}