<div class="root-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">Research Web Portal</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Account actions button">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before" yPosition="below">
      <button mat-menu-item routerLink="/signout">
        <mat-icon>logout</mat-icon>
        <span>Log Out</span>
      </button>
      <button mat-menu-item routerLink="/student/edit-profile">
        <mat-icon>edit</mat-icon>
        <span>Edit Profile</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        @for (choice of navigationChoices; track choice) {
        <a mat-list-item [routerLink]="choice.link" routerLinkActive="active-list-item">
          <div class="list-item-container">
            <mat-icon>{{ choice.icon }}</mat-icon>
            <span>{{ choice.name }}</span>
          </div>
        </a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>